.showcase-content{
    background-color: #14111a;
    color: #fff;
}



.showcase-content h1, .showcase-content h2, .showcase-content h3, .showcase-content h4, .showcase-content h5{
    color: #efc9ff;
}

.showcase-content a {
    color: #d2ef5d;
}