<!-- Show folders -->
{{ $contentFolder := print "./content/doc" .folder }}
{{ range $file := (readDir $contentFolder) }}
{{ if $file.IsDir }}
{{ $path := print $.folder "/" $file.Name }}
<details>
    <summary>{{ $file.Name | title }}</summary>
    <section class="tab">{{ partial "navlist" (dict "folder" $path) }}</section>
</details>
{{ end }}
{{ end }}


<!-- Show files -->
{{ range $file := (readDir $contentFolder) }}
{{ if not $file.IsDir }}
{{ $path := replace (print $.folder "/" $file.Name | lower) ".md" ""}}
<a href="/Brume-Website/doc/{{$path}}">{{ $file.Name | title }}</a><br>
{{ end }}
{{ end }}