<!-- Show folders -->
{{ $contentFolder := print "./content/doc" .folder }}
{{ range $file := (readDir $contentFolder) }}
{{ if $file.IsDir}}
{{ if (not (eq $file.Name "graphs"))}}
{{ $path := print $.folder "/" $file.Name }}

{{ if (in $.opens ($file.Name | lower))}}
<details open>
{{ else }}
<details>
{{ end }}
    <summary class="doc-entry">{{ $file.Name }}</summary>
    <section class="tab">{{ partial "navlist" (dict "folder" $path "opens" $.opens "focus" $.focus) }}</section>
</details>
{{ end }}
{{ end }}
{{ end }}


<!-- Show files -->
{{ range $file := (readDir $contentFolder) }}
{{ if not $file.IsDir }}
{{ $filename := replace ($file.Name ) ".md" ""}}
{{ $path := print $.folder "/" $filename| lower}}
<section class="doc-entry">

    {{ if (eq $.focus $file.Name)}}
    <a href="/Brume-Website/doc/{{$path}}" class="link-focus">{{ $filename }}</a><br>
    {{ else }}
    <a href="/Brume-Website/doc/{{$path}}">{{ $filename }}</a><br>
    {{ end }}
</section>
{{ end }}
{{ end }}