.doc-content{
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.doc-content .doc-nav{
  margin-right: 15px;
}

.doc-content .doc-entry{
  width: 100%;
  padding: 2px;
}

.doc-content table, .doc-content th, .doc-content td {
  border: 1px solid;
  border-collapse: collapse;
  // text-align: center;
}

.doc-content td{
  padding: 4px;
}

.doc-content hr{
  width: 80%;
}

h2, h3, h4, h5{
  margin-bottom: 2px;
}