.doc-nav{
  margin-right: 15px;
}

.doc-entry{
  width: 100%;
  padding: 2px;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  // text-align: center;
}

td{
  padding: 4px;
}

hr{
  width: 80%;
}

p, ul{
  margin: 2px;
}

h2, h3, h4, h5{
  margin-bottom: 2px;
}